{% extends 'main/mainLayout.html' %}{% block header %}
<div class='row-2 justify-content-center '>
  <div class='col-lg-auto justify-content-center'>
    <h1 align='center'><a href="{%url 'home_view' %}">Welcome</a></h1>
  </div>
  <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="material-icons">view_headline</span></button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <!-- <div class='row-1 justify-content-center'> -->
        <nav class='navbar navbar-expand-md justify-content-center '>
          <ul class='nav nav-pills nav-stacked'>
            <li class='nav-item'>
              <a class='nav-link' href="{%url 'index' %}">Home</a>
            </li>
          </ul>
        </nav>
      <!-- </div> -->
    </div>
  </div>
</div>
<h1>Login</h1>
<form action="{% url 'login_view' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class='col'>
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class='col'>
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="submit" class="btn btn-primary">Forgot Password</button>
</form>
{% endblock %}
