{% extends 'main/mainLayout.html' %}{{ title }} {% block content %}
<h1>Login</h1>
{% if message %}
<div>
    {{ message }}
</div>
{% endif %}
<form action="{% url 'login_view' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class='col'>
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class='col'>
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}