body {
    font-family: Arial;
    background-repeat:no-repeat;
    margin: 0px 0px -1px 0px;
    padding-top: 29px;
    /* style="background-image: url({% static 'main/images/main-image.jpg' %});" */
}

#id_address {
    width: 40em;
}

.map_canvas_wrapper {
    margin-left: 170px;
}

#map_canvas {
    width: 100%;
    height: 40em;
}

a{
  font-style: oblique;
  color: white;
  text-decoration: none;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
}

.button-menu{
  width: 0px;
  height: 15px;
  background-color: white;
  border: white;
  padding: 0px 0px 0px 0px;
  margin-top: -35px;
}

.addNotes-expand{
    z-index: 100000000;
    position: relative;

  }

.addNotes-collapse{
   position: relative;
   z-index: 100000000;
   background-color: white;
}

.expand-collapse-content {
    padding: 10px;
    height: auto;
}


/* Animation */
.slideDown {

    height:150px;
    width:219px;
    transition: 0.15s ease;
    position:relative;

}

.slideDown.ng-hide {
    height:0;
    transition:height 0.15s ease;
    overflow:hidden;
    position:relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display:block!important;
}


.slideDown.ng-hide-add {
    animation-name: hide;
    -webkit-animation-name: hide;

    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}



.slideDown.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;

    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}
